<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Product Id="*" 
           Name="PornPaster" 
           Language="1033" 
           Version="1.0.0.0" 
           Manufacturer="MeepsKitten" 
           UpgradeCode="12345678-1234-1234-1234-123456789012">
    <Package InstallerVersion="200" 
             Compressed="yes" 
             InstallScope="perUser" 
             Platform="x64"/>

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed."
                  Schedule="afterInstallValidate"
                  AllowDowngrades="no"
                  AllowSameVersionUpgrades="no"
                  RemoveFeatures="ALL"/>
    
    <MediaTemplate EmbedCab="yes"/>

    <!-- Custom action to stop the application -->
    <CustomAction Id="StopApplication" 
                  Directory="APPLICATIONFOLDER"
                  ExeCommand="taskkill /F /IM PornPaster.exe"
                  Execute="deferred"
                  Return="ignore"
                  Impersonate="no"/>

    <!-- Set the data folder property -->
    <Property Id="DATAFOLDER">
      <RegistrySearch Id="DataFolderRegSearch" 
                      Root="HKCU" 
                      Key="Software\MeepsKitten\PornPaster" 
                      Name="DataPath" 
                      Type="raw"/>
    </Property>
    <SetProperty Id="DATAFOLDER" Value="[LocalAppDataFolder]PornPaster_Data" After="LaunchConditions">
      NOT DATAFOLDER
    </SetProperty>

    <!-- Add version information to registry -->
    <Property Id="ARPPRODUCTICON" Value="icon.ico"/>
    <Property Id="ARPHELPLINK" Value="https://github.com/MeepsKitten/PornPaster"/>
    <Property Id="ARPPRODUCTICON" Value="icon.ico"/>
    <Property Id="ARPCONTACT" Value="MeepsKitten"/>
    <Property Id="ARPURLINFOABOUT" Value="https://github.com/MeepsKitten/PornPaster"/>

    <Feature Id="ProductFeature" Title="PornPaster" Level="1">
      <ComponentRef Id="MainExecutable"/>
      <ComponentRef Id="MainLibrary"/>
      <ComponentRef Id="DepsJson"/>
      <ComponentRef Id="RuntimeConfig"/>
      <ComponentRef Id="ApplicationShortcut"/>
      <ComponentRef Id="ApplicationShortcutDesktop"/>
      <ComponentRef Id="CleanupComponent"/>
      <ComponentRef Id="DataFolderCleanup"/>
      <ComponentRef Id="ConfigFolderCleanup"/>
      <ComponentRef Id="RegistryCleanup"/>
    </Feature>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="LocalAppDataFolder">
        <Directory Id="APPLICATIONFOLDER" Name="PornPaster">
          <!-- Main application files with consolidated registry entries -->
          <Component Id="MainExecutable" Guid="33333333-3333-3333-3333-333333333333">
            <RegistryValue Root="HKCU" 
                          Key="Software\MeepsKitten\PornPaster" 
                          Name="Version" 
                          Type="string" 
                          Value="[ProductVersion]"/>
            <RegistryValue Root="HKCU" 
                          Key="Software\MeepsKitten\PornPaster" 
                          Name="InstallPath" 
                          Type="string" 
                          Value="[APPLICATIONFOLDER]"/>
            <File Id="PornPasterEXE" 
                  Name="PornPaster.exe" 
                  Source="$(var.BinDir)\PornPaster.exe"/>
            <RemoveFile Id="RemoveExe" Name="PornPaster.exe" On="uninstall"/>
          </Component>
          
          <Component Id="MainLibrary" Guid="44444444-4444-4444-4444-444444444444">
            <File Id="PornPasterDLL" 
                  Name="PornPaster.dll" 
                  Source="$(var.BinDir)\PornPaster.dll"/>
            <RemoveFile Id="RemoveDll" Name="PornPaster.dll" On="uninstall"/>
          </Component>
          
          <Component Id="DepsJson" Guid="55555555-5555-5555-5555-555555555555">
            <File Id="PornPasterDepsJson" 
                  Name="PornPaster.deps.json" 
                  Source="$(var.BinDir)\PornPaster.deps.json"/>
            <RemoveFile Id="RemoveDepsJson" Name="PornPaster.deps.json" On="uninstall"/>
          </Component>
          
          <Component Id="RuntimeConfig" Guid="66666666-6666-6666-6666-666666666666">
            <File Id="PornPasterRuntimeConfigJson" 
                  Name="PornPaster.runtimeconfig.json" 
                  Source="$(var.BinDir)\PornPaster.runtimeconfig.json"/>
            <RemoveFile Id="RemoveRuntimeConfig" Name="PornPaster.runtimeconfig.json" On="uninstall"/>
          </Component>

          <Component Id="CleanupComponent" Guid="77777777-7777-7777-7777-777777777777">
            <RemoveFolder Id="APPLICATIONFOLDER" On="uninstall"/>
            <util:RemoveFolderEx Id="RemoveAppFolder" 
                                On="uninstall" 
                                Property="APPLICATIONFOLDER"/>
          </Component>
        </Directory>

        <!-- Add cleanup for the app's data folder -->
        <Directory Id="DATAFOLDER" Name="PornPaster_Data">
          <Component Id="DataFolderCleanup" Guid="88888888-8888-8888-8888-888888888888">
            <RegistryValue Root="HKCU"
                          Key="Software\MeepsKitten\PornPaster"
                          Name="DataPath"
                          Type="string"
                          Value="[DATAFOLDER]"/>
            <RemoveFolder Id="DATAFOLDER" On="uninstall"/>
            <util:RemoveFolderEx Id="RemoveDataFolder" 
                                On="uninstall" 
                                Property="DATAFOLDER"/>
          </Component>
        </Directory>

        <!-- Add cleanup for the config folder -->
        <Directory Id="CONFIGFOLDER" Name="PornPaster">
          <Component Id="ConfigFolderCleanup" Guid="99999999-9999-9999-9999-999999999999">
            <RemoveFolder Id="CONFIGFOLDER" On="uninstall"/>
            <util:RemoveFolderEx Id="RemoveConfigFolder" 
                                On="uninstall" 
                                Property="CONFIGFOLDER"/>
          </Component>
        </Directory>
      </Directory>

      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="PornPaster">
          <Component Id="ApplicationShortcut" Guid="11111111-1111-1111-1111-111111111111">
            <Shortcut Id="ApplicationStartMenuShortcut" 
                      Name="PornPaster" 
                      Description="Random Image Paster"
                      Target="[APPLICATIONFOLDER]PornPaster.exe"
                      WorkingDirectory="APPLICATIONFOLDER"/>
            <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
          </Component>
        </Directory>
      </Directory>

      <Directory Id="DesktopFolder" Name="Desktop">
        <Component Id="ApplicationShortcutDesktop" Guid="22222222-2222-2222-2222-222222222222">
          <Shortcut Id="ApplicationDesktopShortcut"
                    Name="PornPaster"
                    Description="Random Image Paster"
                    Target="[APPLICATIONFOLDER]PornPaster.exe"
                    WorkingDirectory="APPLICATIONFOLDER"/>
          <RemoveFolder Id="DesktopFolder" On="uninstall"/>
        </Component>
      </Directory>
    </Directory>

    <!-- Add registry cleanup component -->
    <Component Id="RegistryCleanup" Guid="AAAAAAAA-AAAA-AAAA-AAAA-AAAAAAAAAAAA" Directory="TARGETDIR">
      <RegistryKey Root="HKCU" Key="Software\MeepsKitten\PornPaster" Action="removeOnUninstall"/>
    </Component>

    <UI>
      <UIRef Id="WixUI_Minimal"/>
      <Property Id="WIXUI_EXITDIALOGOPTIONALTEXT" Value="Thank you for installing PornPaster!"/>
    </UI>

    <InstallExecuteSequence>
      <Custom Action="StopApplication" Before="RemoveFiles">NOT UPGRADINGPRODUCTCODE</Custom>
      <RemoveRegistryValues/>
      <RemoveFiles/>
      <RemoveFolders/>
    </InstallExecuteSequence>

    <WixVariable Id="WixUILicenseRtf" Value="$(var.ProjectDir)/PornPaster.Installer/license.rtf"/>
  </Product>
</Wix> 